_ReSharper.Building/
*.user


#bin
bin/
**/bin/
**/**/bin/
**/**/**/bin/
**/**/**/**/bin/

#Bin
Bin/
**/Bin/
**/**/Bin/
**/**/**/Bin/
**/**/**/**/Bin/

#obj
obj/
**/obj/
**/**/obj/
**/**/**/obj/
**/**/**/**/obj/